.manager-bar {
  display: flex;
  width: 75%;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 3vh 0;
  box-sizing: border-box; 
}

button:hover {
  background-color:cornflowerblue !important;
}

button:active {
  background-color:aliceblue!important; 
  border-color: aliceblue !important;
}

.hover-icon:hover {
  background-color: mediumslateblue !important;
}

.hover-icon:active {
  background-color: aliceblue !important;
}


