.nav {
  width: 75vw;
  margin-left: 0;    
  margin-right: 0;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 4rem;
  padding-left: 12rem;
  gap: 2rem;
  /* background-color: #39AA14; */
  color: white;
  box-sizing: border-box; 
  z-index: 1000;
  /* position: fixed; */ 
  top: 0;

}

.nav ul {
  padding: 0;
  margin: 0;
  align-items: center;
  list-style: none; 
  display: flex;
  
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.site-title {
  padding-left: 1rem;
}

#logo {
  width: 100px;
  height: 100px;
}